<div>
  <div>
    <h1>Bananas</h1>
    <h2>Eating bananas</h2>
    <p>It's not potatoes</p>
  </div>

  <div>
    <h1>Potatoes</h1>
    <h2>Eating potatoes</h2>
    <p>It's not bananas</p>
  </div>
</div>
